@using Microsoft.AspNetCore.Components.Web
@using WebUI.Services.Interfaces
@inject IAuthService AuthService

<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <ErrorBoundary>
            <ChildContent>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
      <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </ChildContent>
            <ErrorContent>
     <div class="alert alert-danger">
            <p>Sorry, an error has occurred:</p>
           <p>@context.Message</p>
     </div>
   </ErrorContent>
        </ErrorBoundary>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
      <div class="alert alert-warning">
                <p>Sorry, there's nothing at this address.</p>
 </div>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.InitializeAsync();
    }
}
